extends layout

block content
    script.
      document.getElementById('cts').className+=" active"
    p Контакты
      div(align="center")   
        image(src='#{homepage}/images/card.png' style="width:80%;" class="thumbnail")
      p
        b Адрес:
        p=contacts.address
      p
        b Телефон:
        p=contacts.phone
      p
        b E-mail:
        p=contacts.email
      p
        b График работы:
        p=contacts.graph