extends layout

block content
    script(src='#{homepage}/js/myJS.js')
    script.
      document.getElementById('gl').className+=" active";
    div(id="myCarousel" class="carousel slide" data-ride="carousel" style="width:800px; height:300px; margin: 0 auto")
      div(class="carousel-inner")
        div(class="active item") 
          img(src='#{homepage}/images/window3.jpg' alt="" style="width:800px; height:300px; margin: 0 auto")
        div(class="item") 
          img(src='#{homepage}/images/window1.jpg' alt="" style="width:800px; height:300px; margin: 0 auto")
        div(class="item")
          img(src='#{homepage}/images/window2.jpg' alt="" style="width:800px; height:300px; margin: 0 auto")
      a(class="carousel-control left" href="#myCarousel" data-slide="prev") &lsaquo;
      a(class="carousel-control right" href="#myCarousel" data-slide="next") &rsaquo;
    br

    div(align="center")
      div(class="btn-group btns-cart")
        button(href="#myModal1" data-toggle="modal" type="button" class="btn btn-primary") Калькулятор жалюзи
        button(href="#myModal2" data-toggle="modal" type="button" class="btn btn-primary") Калькулятор рольставен
        button(href="#myModal" data-toggle="modal" role="button" type="button" class="btn btn-primary") Вызов замерщика

    div(class="bs-component")
      div(class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        div(class="modal-dialog")
          div(class="modal-content")
            div(class="modal-header")
              button(type="button" class="close" data-dismiss="modal" aria-hidden="true") ×
              h3(id="myModalLabel") Вызов замерщика
            div(class="modal-body")
              label ФИО
              br
              input(id="contact_name" style="width: 377px;" type="text" name="contact_name" value="" size="70")
              br
              label E-mail
              br
              input(id="contact_mail" style="width: 377px;" type="text" name="contact_mail" value="" size="70")
              br
              label Телефон
              br
              input(id="contact_phone" style="width: 377px;" type="text" name="contact_phone" value="" size="70")
              br
              label Полный адрес
              br
              input(id="contact_address" style="width: 377px;" type="text" name="contact_address" value="" size="70")
              br
              label Комментарий
              br
              textarea(id="contact_message" style="width: 377px;" name="contact_message" rows="7" cols="86")
            div(class="modal-footer")
              button(class="btn" data-dismiss="modal" aria-hidden="true") Отменить
              button(class="btn btn-primary" id='newOrder' href="#{homepage}") Отправить

    div(class="bs-component")
      div(class="modal" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal1Label" aria-hidden="true")
        div(class="modal-dialog")
          div(class="modal-content")
            div(class="modal-header")
              button(type="button" class="close" data-dismiss="modal" aria-hidden="true") ×
              h3(id="myModal1Label") Калькулятор жалюзи
            div(class="modal-body")
              label Тип жалюзи
              br
              select(class="form-control" id="select_lt" style="width: 377px;" name="select_lt")
                each lcalc, i in lcalclist
                  option(value="#{i}")=lcalc.name
              br
              label Размеры жалюзи
              br
              label Ширина, см   
              br
              input(id="width_lt" style="width: 377px;" type="text" name="width_lt" value="100" size="70")
              br
              label Высота, см   
              br
              input(id="height_lt" style="width: 377px;" type="text" name="height_lt" value="100" size="70")
              br
              br
              label Количество изделий
              br
              input(id="kol_lt" style="width: 377px;" type="text" name="kol_lt" value="1" size="70")
            div(class="modal-footer")
              button(class="btn" data-dismiss="modal" aria-hidden="true") Отменить
              button(class="btn btn-primary" id='calcLouvers' href="#{homepage}") Рассчитать

    div(class="bs-component")
      div(class="modal" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2Label" aria-hidden="true")
        div(class="modal-dialog")
          div(class="modal-content")
            div(class="modal-header")
              button(type="button" class="close" data-dismiss="modal" aria-hidden="true") ×
              h3(id="myModal2Label") Калькулятор рольставен
            div(class="modal-body")
              label Тип профиля рольставен
              br
              select(class="form-control" id="select_rt" style="width: 377px;" name="select_lt")
                each rcalc, i in rcalclist
                  option(value="#{rcalc.name}")=(rcalc.name+" ("+rcalc.type_roller+")")
              br
              label Тип управления рольставен
              br
              select(class="form-control" id="select_contr" style="width: 377px;" name="select_lt")
                each auto, i in autolist
                  option(value="#{auto.calc_price}")=auto.name
              br
              label Автоматика (только для электропривода)
              br
              select(class="form-control" id="select_auto" style="width: 377px;" name="select_lt")
                each contr, i in controllist
                  option(value="#{contr.calc_price}")=contr.name
                option(value="0") Без автоматики
              br
              label Монтаж рольставен
              br
              select(class="form-control" id="select_mont" style="width: 377px;" name="select_lt")
                each mont, i in montagelist
                  option(value="#{mont.calc_price}")=mont.name
              br
              label Размеры рольставен
              br
              label Ширина, см   
              br
              input(id="width_rt" style="width: 377px;" type="text" name="width_rt" value="100" size="70")
              br
              label Высота, см   
              br
              input(id="height_rt" style="width: 377px;" type="text" name="height_rt" value="100" size="70")
              br
              br
              label Количество изделий
              br
              input(id="kol_rt" style="width: 377px;" type="text" name="kol_rt" value="1" size="70")
            div(class="modal-footer")
              button(class="btn" data-dismiss="modal" aria-hidden="true") Отменить
              button(class="btn btn-primary" id='calcRollers' href="#{homepage}") Рассчитать

block content2
    script.
      document.getElementById("td_menu").style.display="none";