extends layout

block content
    div(class="navbar")
      div(class="navbar-inner")
        a(class="brand" href="#">Имя проекта)
        ul(class="nav")
          li(class="active")
            a(href="#{homepage}") Главная
          li
            a(href="#") О компании
          li(class="dropdown")
            a(id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown") Жалюзи
              b(class="caret")
            ul(class="dropdown-menu" role="menu" aria-labelledby="dLabel")
              each louver, i in louverslist
                li
                  a(tabindex="-1" href="#{homepage}/zhaluzi/#{louver.adress}")= louver.name
          li
            a(href="#") Рольставни
          li
            a(href="#") Контакты
          li
            a(href="#{homepage}/admin/") adminka
    br
    div(id="myCarousel" class="carousel slide" data-ride="carousel" style="width:800px; height:300px; margin: 0 auto")
      div(class="carousel-inner")
        div(class="active item") 
          img(src='#{homepage}/images/window3.jpg' alt="" style="width:800px; height:300px; margin: 0 auto")
        div(class="item") 
          img(src='#{homepage}/images/window1.jpg' alt="" style="width:800px; height:300px; margin: 0 auto")
        div(class="item")
          img(src='#{homepage}/images/window2.jpg' alt="" style="width:800px; height:300px; margin: 0 auto")
      a(class="carousel-control left" href="#myCarousel" data-slide="prev") &lsaquo;
      a(class="carousel-control right" href="#myCarousel" data-slide="next") &rsaquo;
    br
    button.btn Калькулятор
    button.btn Конструктор
    button(href="#myModal" role="button" class="btn" data-toggle="modal") Вызов замерщика

    div(class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      div(class="modal-header")
        button(type="button" class="close" data-dismiss="modal" aria-hidden="true") ×
        h3(id="myModalLabel") Вызов замерщика
      div(class="modal-body")
        label ФИО
        input(id="contact_name" style="width: 377px;" type="text" name="contact_name" value="" size="70")
        label E-mail
        input(id="contact_mail" style="width: 377px;" type="text" name="contact_mail" value="" size="70")
        label Телефон
        input(id="contact_phone" style="width: 377px;" type="text" name="contact_phone" value="" size="70")
        label Полный адрес
        input(id="contact_address" style="width: 377px;" type="text" name="contact_address" value="" size="70")
        label Комментарий
        textarea(id="contact_message" style="width: 377px;" name="contact_message" rows="7" cols="86")
      div(class="modal-footer")
        button(class="btn" data-dismiss="modal" aria-hidden="true") Отменить
        button(class="btn btn-primary") Отправить