doctype html
html
  head
    title= title
    link(href="#{homepage}/styles/stylesheet.css" rel="stylesheet" media="screen")
    link(href="#{homepage}/styles/myStyle.css" rel="stylesheet" media="screen")
  body
    script(src='#{homepage}/js/jquery.js')
    script(src='#{homepage}/js/bootstrap.min.js')
    script(src="#{homepage}/socket.io/socket.io.js")
    div(class="bs-component")
      div(class="navbar navbar-default")
        div(class="navbar-inner")
          a(class="brand" href="#">Имя проекта)
          ul(class="nav navbar-nav")
            li(id="gl")
              a(href="#{homepage}/") Главная
            li(id="acmp")
              a(href="#{homepage}/aboutCompany") О компании
            li(class="dropdown" id="lt")
              a(id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown") Жалюзи
                b(class="caret")
              ul(class="dropdown-menu" role="menu" aria-labelledby="dLabel")
                each louver, i in louverslist
                  li
                    a(tabindex="-1" href="#{homepage}/zhaluzi/#{louver.adress}")= louver.name
            li(class="dropdown" id="rt")
              a(id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown") Рольставни
                b(class="caret")
              ul(class="dropdown-menu" role="menu" aria-labelledby="dLabel")
                each roller, i in rollerslist
                  li
                    a(tabindex="-1" href="#{homepage}/rolstavni/#{roller.adress}")= roller.name
            li(id="cts")
              a(href="#{homepage}/contacts") Контакты
            li
              a(href="#{homepage}/admin/") adminka
    br
    table(style="width:100%")
      col(width="75%" id="col_info")
      col(width="25%" id="col_menu")
      tr
        td(valign="top")
          block content
        td(valign="top" id="td_menu" style="display:inline")
          block content2
          ul(class="nav nav-pills nav-stacked" style="max-width: 300px;" id="ul_menu")
            li
              a(href="#{homepage}") Главная
            li(class="divider")
            li
              a(href="#{homepage}/aboutCompany") О компании
            li(class="divider")
            each louver, i in louverslist
              li
                a(href="#{homepage}/zhaluzi/#{louver.adress}")= louver.name
            li(class="divider")
            each roller, i in rollerslist
              li
                a(href="#{homepage}/rolstavni/#{roller.adress}")= roller.name
            li(class="divider")
            li
              a(href="#{homepage}/contacts") Контакты