doctype html
html
  head
    title= title
    link(href="#{homepage}/styles/stylesheet.css" rel="stylesheet" media="screen")
  body
    script(src='#{homepage}/js/jquery.js')
    script(src='#{homepage}/js/bootstrap.min.js')
    script(src="#{homepage}/socket.io/socket.io.js")
    div(class="bs-component")
    div(class="navbar navbar-default")
      div(class="navbar-inner")
        a(class="brand" href="#">Имя проекта)
        ul(class="nav navbar-nav")
          li
            a(href="#{homepage}") Выход на главную
          li(id="acmp")
            a(href="#{homepage}/admin") О компании
          li(class="dropdown" id="ll")
            a(id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown") Жалюзи
              b(class="caret")
            ul(class="dropdown-menu" role="menu" aria-labelledby="dLabel")
              li
                a(tabindex="-1" href="#{homepage}/admin/zhaluzi-types") Типы жалюзи
              li
                a(tabindex="-1" href="#{homepage}/admin/zhaluzi-positions") Виды жалюзи
          li(class="dropdown" id="rr")
            a(id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown") Рольставни
              b(class="caret")
            ul(class="dropdown-menu" role="menu" aria-labelledby="dLabel")
              li
                a(tabindex="-1" href="#{homepage}/admin/rollers-types") Типы рольставен
              li
                a(tabindex="-1" href="#{homepage}/admin/rollers-positions") Виды рольставен
          li(id="img")
            a(href="#{homepage}/admin/images") Изображения
          li(id="ord")
            a(href="#{homepage}/admin/orders") Заявки
          li
            a(href="#{homepage}/logout") Выход 
    block content