doctype html
html
  head
    title= title
    //meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="#{homepage}/styles/stylesheet.css" rel="stylesheet" media="screen")
    //script(type='text/javascript', language='javascript', href='http://localhost:3001/js/bootstrap.js')
  body
    script(src='#{homepage}/js/jquery.js')
    script(src='#{homepage}/js/bootstrap.min.js')
    script(src="#{homepage}/socket.io/socket.io.js")
    block content