extends layout

block content
    script.
      document.getElementById('lt').className+=" active"
    span(class="title")=typename
    div(align="center")
      image(src='#{homepage}/images/catalog/img_lt#{id}.jpg' style="width:80%;" class="thumbnail")
    ul
      each louver,i in itemslist
        li
          p=(louver.name+"   -     от "+louver.promo_price+" руб.")
          table(align="center")
            tr
              td
                a(href="#{homepage}/images/catalog/img_l#{louver.adress}_1.jpg" class="thumbnail" target="_blank" style="width:200px; height:130px; margin: 0 auto")
                  image(src='#{homepage}/images/catalog/img_l#{louver.adress}_1.jpg' style="width:200px; height:120px; margin: 0 auto")
              td
                a(href="#{homepage}/images/catalog/img_l#{louver.adress}_2.jpg" class="thumbnail" target="_blank" style="width:200px; height:130px; margin: 0 auto")
                  image(src='#{homepage}/images/catalog/img_l#{louver.adress}_2.jpg' style="width:200px; height:120px; margin: 0 auto")
              td
                a(href="#{homepage}/images/catalog/img_l#{louver.adress}_3.jpg" class="thumbnail" target="_blank" style="width:200px; height:130px; margin: 0 auto")
                  image(src='#{homepage}/images/catalog/img_l#{louver.adress}_3.jpg' style="width:200px; height:120px; margin: 0 auto")
          p=louver.description
    p!=text