extends layout_admin

block content
    script(src='#{homepage}/js/myJS_orderlist.js')
    div(class="navbar navbar-default")
      div(class="navbar-inner")
        a(class="brand" href="#">Имя проекта)
        ul(class="nav navbar-nav")
          li
            a(href="#{homepage}") Выход на главную
          li
            a(href="#{homepage}/admin") О компании
          li(class="dropdown")
            a(id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown") Жалюзи
              b(class="caret")
            ul(class="dropdown-menu" role="menu" aria-labelledby="dLabel")
              li
                a(tabindex="-1" href="#{homepage}/admin/zhaluzi-types") Типы жалюзи
              li
                a(tabindex="-1" href="#{homepage}/admin/zhaluzi-positions") Виды жалюзи
          li(class="dropdown")
            a(id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown") Рольставни
              b(class="caret")
            ul(class="dropdown-menu" role="menu" aria-labelledby="dLabel")
              li
                a(tabindex="-1" href="#{homepage}/admin/rollers-types") Типы рольставен
              li
                a(tabindex="-1" href="#{homepage}/admin/rollers-positions") Виды рольставен
          li
            a(href="#{homepage}/admin/images") Изображения                
          li(class="active")
            a(href="#{homepage}/admin/orders") Заявки
          li
            a(href="#{homepage}/logout") Выход                 
    div
      table(class="table table-striped table-bordered table-condensed")
        tbody
          tr
            td ID
            td Время и дата
            td ФИО
            td E-mail
            td Телефон
            td Адрес
            td Комментарий
            td
          each order, i in orderlist
            tr
              td=order._id
              td=order.order_data
              td=order.name
              td=order.mail
              td=order.phone
              td=order.address
              td!=order.comment
              td
                a(href="#" id="delete_#{order._id}" class="delete_order") удалить