extends layout_admin

block content
    script(src='#{homepage}/js/myJS_rollers_type_list.js')
    div(class="navbar navbar-default")
      div(class="navbar-inner")
        a(class="brand" href="#">Имя проекта)
        ul(class="nav navbar-nav")
          li
            a(href="#{homepage}") Выход на главную
          li
            a(href="#") О компании
          li(class="dropdown")
            a(id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown") Жалюзи
              b(class="caret")
            ul(class="dropdown-menu" role="menu" aria-labelledby="dLabel")
              li
                a(tabindex="-1" href="#{homepage}/admin/zhaluzi-types") Типы жалюзи
              li
                a(tabindex="-1" href="#{homepage}/admin/zhaluzi-positions") Виды жалюзи
          li(class="dropdown active")
            a(id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown") Рольставни
              b(class="caret")
            ul(class="dropdown-menu" role="menu" aria-labelledby="dLabel")
              li
                a(tabindex="-1" href="#{homepage}/admin/rollers-types") Типы рольставней
              li
                a(tabindex="-1" href="#{homepage}/admin/rollers-positions") Виды рольставней
          li
            a(href="#{homepage}/admin/images") Изображения                
          li
            a(href="#{homepage}/admin/orders") Заявки
          li
            a(href="#") Контакты
          li
            a(href="#{homepage}/logout") Выход 
    ul
      each roller, i in rollerslist
        li
          p=("ID: "+roller._id)
          p=("Название: "+roller.name)
          p=("Адрес: "+roller.adress)
          a(href="#" id="delete_#{roller._id}" class="delete_rollers_type") удалить тип
          br
          a(href="#EditRoller" role="button" id="edit_#{roller._id}" class="edit_rollers_type" data-toggle="modal") редактировать тип
          p        

    a(href="#AddRoller" role="button" id="AddRollerType" class="AddRoller" data-toggle="modal") Добавить новый тип
    div(class="modal" id="AddRoller" tabindex="-1" role="dialog" aria-labelledby="AddRollerLabel" aria-hidden="true")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") ×
            h3(id="AddRollerLabel") Добавление типа
          div(class="modal-body")
            label Название типа:
            br
            input(id="namen" style="width: 377px;" type="text" name="name" value="" size="70")
            br
            //label Изображение
            //br
            //input(id="imagen" style="width: 377px;" type="file" name="image" value="" size="70")
            //br
            label Описание:
            br
            textarea(id="descriptionn" style="width: 377px;" name="description" rows="7" cols="86")
          div(class="modal-footer")
            button(class="btn" data-dismiss="modal" aria-hidden="true") Отменить
            button(class="btn btn-primary" id='AddRType' href="#" type="") Отправить
    //окно редактирования          
    div(class="modal" id="EditRoller" tabindex="-1" role="dialog" aria-labelledby="EditRollerLabel" aria-hidden="true")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") ×
            h3(id="EditRollerLabel") Редактирование типа
          div(class="modal-body")
            label Название типа:
            br
            input(id="name" style="width: 377px;" type="text" name="name" value="" size="70")
            br
            //label Изображение
            //br
            //input(id="image" style="width: 377px;" type="file" name="image" value="" size="70")
            //br
            label Описание:
            br
            textarea(id="description" style="width: 377px;" name="description" rows="7" cols="86")
          div(class="modal-footer")
            button(class="btn" data-dismiss="modal" aria-hidden="true") Отменить
            button(class="btn btn-primary" id='EditRType' href="#" type="") Отправить